@charset "UTF-8";

#custom-course-fields-add-form label,
#course-custom-fields-fill-form label {
    font-weight: bold;
}

#course-custom-fields-fill-form label img {
    vertical-align: text-top;
}

#local-ccf-error-messages {
    padding: 10px;
    margin: 10px 0;
    background: #FDD;
    font-weight: bold;
    font-size: 16px;
    color: #700;
}

#local-ccf-success-messages {
    padding: 10px;
    margin: 10px 0;
    background: #DFD;
    font-weight: bold;
    font-size: 16px;
    color: #070;
}

﻿

@font-face {
    font-family: 'icomoon';
    src: url(/theme/aardvark/style/fonts/icomoon.eot?2ef7cx);
    src: url(/theme/aardvark/style/fonts/icomoon.eot?2ef7cx#iefix) format('embedded-opentype'), url(/theme/aardvark/style/fonts/icomoon.ttf?2ef7cx) format('truetype'), url(/theme/aardvark/style/fonts/icomoon.woff?2ef7cx) format('woff'), url(/theme/aardvark/style/fonts/icomoon.svg?2ef7cx#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

#preview {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.course-info {
    color: #5a5a5a;
    vertical-align: middle
}

[class^="CustomeIcomoon-"], [class*=" CustomeIcomoon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5a5a5a;
    font-size: 1.6rem;
    vertical-align: middle;
    margin-right: 3px
}

.CustomeIcomoon-Certificate:before {
    content: "\e92f"
}

.CustomeIcomoon-Badge:before {
    content: "\e900"
}

.CustomeIcomoon-Blog:before {
    content: "\e901"
}

.CustomeIcomoon-Filter:before {
    content: "\e902"
}

.CustomeIcomoon-Help:before {
    content: "\e903"
}

.CustomeIcomoon-Podcast:before {
    content: "\e904"
}

.CustomeIcomoon-Add:before {
    content: "\e905"
}

.CustomeIcomoon-All:before {
    content: "\e906"
}

.CustomeIcomoon-Analytics:before {
    content: "\e907"
}

.CustomeIcomoon-Article:before {
    content: "\e908"
}

.CustomeIcomoon-Bee:before {
    content: "\e909"
}

.CustomeIcomoon-Bluemix:before {
    content: "\e90a"
}

.CustomeIcomoon-Class:before {
    content: "\e90b"
}

.CustomeIcomoon-Close:before {
    content: "\e90c"
}

.CustomeIcomoon-Cloud:before {
    content: "\e90d"
}

.CustomeIcomoon-Cognitive-Engagement:before {
    content: "\e90e"
}

.CustomeIcomoon-Complete:before {
    content: "\e90f"
}

.CustomeIcomoon-Dashboard:before {
    content: "\e910"
}

.CustomeIcomoon-Duration:before {
    content: "\e911"
}

.CustomeIcomoon-Email:before {
    content: "\e912"
}

.CustomeIcomoon-Event:before {
    content: "\e913"
}

.CustomeIcomoon-External-Link:before {
    content: "\e914"
}

.CustomeIcomoon-Facebook:before {
    content: "\e915"
}

.CustomeIcomoon-Forward:before {
    content: "\e916"
}

.CustomeIcomoon-Global:before {
    content: "\e917"
}

.CustomeIcomoon-Google-Plus:before {
    content: "\e918"
}

.CustomeIcomoon-Information:before {
    content: "\e919"
}

.CustomeIcomoon-Integration:before {
    content: "\e91a"
}

.CustomeIcomoon-Journey:before {
    content: "\e91b"
}

.CustomeIcomoon-Level:before {
    content: "\e91c"
}

.CustomeIcomoon-LinkedIn:before {
    content: "\e91d"
}

.CustomeIcomoon-Location:before {
    content: "\e91e"
}

.CustomeIcomoon-Mobile:before {
    content: "\e91f"
}

.CustomeIcomoon-New:before {
    content: "\e920"
}

.CustomeIcomoon-Play:before {
    content: "\e921"
}

.CustomeIcomoon-Preferences:before {
    content: "\e922"
}

.CustomeIcomoon-Remove:before {
    content: "\e923"
}

.CustomeIcomoon-Reset:before {
    content: "\e924"
}

.CustomeIcomoon-Search:before {
    content: "\e925"
}

.CustomeIcomoon-Security:before {
    content: "\e926"
}

.CustomeIcomoon-Success:before {
    content: "\e927"
}

.CustomeIcomoon-Systems:before {
    content: "\e928"
}

.CustomeIcomoon-Trash:before {
    content: "\e929"
}

.CustomeIcomoon-Trial:before {
    content: "\e92a"
}

.CustomeIcomoon-Tutorial:before {
    content: "\e92b"
}

.CustomeIcomoon-Twitter:before {
    content: "\e92c"
}

.CustomeIcomoon-Watson:before {
    content: "\e92d"
}

.CustomeIcomoon-YouTube:before {
    content: "\e92e"
}